<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [30]:
# write your answer here
#using function to find length 
def slen(stra):
  length=len(stra)
  return length

#calling the function and printing the result
print("The length of the string is:", slen("akshitasama"))

The length of the string is: 11

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [31]:
# write your answer here
#using function to count characters
def count(stra):
  charcount={}
  for i in stra:
    if i==charcount:
      charcount[i]=charcount[i]+1
    else:
      charcount[i]=1
  return charcount

#giving the string and calling the function
string="google.com"
print("Expected result:",count(string))

Expected result: {'g': 1, 'o': 1, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [32]:
# write your answer here
#function to sum all the elements
def sumlis(lista):
  sum_elements=0
  for i in lista:
   sum_elements+=i
  return sum_elements

#printing the sum by calling the function with list
print("The sum of elements in the list is", sumlis([2,3,4,5]))

The sum of elements in the list is 14

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [33]:
# write your answer here
#function to change the character
def changefchar(str):
  firstchar=str[0]
  length= len(str)
  str=str.replace(firstchar,'$')
  str=firstchar+str[1:]
  return str

#calling the function with reqired input
print(changefchar('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [34]:
# write your answer here
#Function to define eror
def err(type_of_error):
    print(type_of_error)
    return

#Function to perform calculation
def sum(a,b):
  if b==0:
    err("Runtime error")
  else:
    return 3.14*(1+a/b)**3

#input parameters
a=int(input("Enter the number a: "))
b=int(input("Enter the number b: "))

#print results
print("The result is: ", sum(a,b))

Enter the number a: 9
Enter the number b: 9
The result is:  25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [35]:
# write your answer here
di1={1:10, 2:20}
di2={3:30, 4:40}
di3={5:50,6:60}
condic={}
for d in (di1,di2,di3):
  condic.update(d)
print("The new dictonary after concatenation:", condic)

The new dictonary after concatenation: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [36]:
# write your answer here
Elements=("4","7","a","29","r")
checkElements=["7","p","r","14"]
for ele in checkElements:
  if ele in Elements:
    print("True," , ele ,"exist")
  else:
     print("false,", ele , "doesnt exist")

True, 7 exist
false, p doesnt exist
True, r exist
false, 14 doesnt exist

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [37]:
# write your answer here
set_elements={8,54,89,6,9}
print("The maximum element in", elements , "is: ", max(set_elements))
print("The minimum element in", elements , "is: ", min(set_elements))

The maximum element in {6, 8, 9, 54, 89} is:  89
The minimum element in {6, 8, 9, 54, 89} is:  6

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [38]:
# write your answer here
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
def chunks(l,s):
  i=0
  j=0
  while(j<5):
    yield(l[i:i+s])
    i+=s
    j+=1
import random
l=['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
random.shuffle(l)
s=int(len(l)/5)
listofchunks=list(chunks(l,s))
j=0
for i in range(5*s,len(l)):
  listofchunks[j].append(l[i])
  j+=1
print(listofchunks)

[['pn0159', 'pc0353', 'snd0097', 'at0768', 'rs0850'], ['yye0005', 'dd0420', 'ss1995', 'tv0119', 'bk0301'], ['ds0761', 'nm0547', 'sg0940', 'mv0299'], ['msp0174', 'at0739', 'rrk0058', 'vl0135'], ['vmb0067', 'rak0120', 'spk0057', 'dy0091']]