<a href="https://colab.research.google.com/github/Akshitasama/akshita_INFO5731_Spring2021/blob/main/In_class_exercise_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The ninth in-class-exercise (20 points in total, 4/16/2021)**

The purpose of the exercise is to practice different machine learning algorithms for text classification as well as the performance evaluation. In addition, you are requried to conduct *10 fold cross validation (https://scikit-learn.org/stable/modules/cross_validation.html)* in the training. 

The dataset can be download from here: https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/exercise09_datacollection.zip. The dataset contains two files train data and test data for sentiment analysis in IMDB review, it has two categories: 1 represents positive and 0 represents negative. You need to split the training data into training and validate data (80% for training and 20% for validation, https://towardsdatascience.com/train-test-split-and-cross-validation-in-python-80b61beca4b6) and perform 10 fold cross validation while training the classifier. The final trained model was final evaluated on the test data. 

Algorithms:

(1) MultinominalNB

(2) SVM 

(3) KNN 

(4) Decision tree

(5) Random Forest

(6) XGBoost

Evaluation measurement:

(1) Accuracy

(2) Recall

(3) Precison 

(4) F-1 score

In [2]:
# Write your code here

# Write your code here

import pandas as pd
from xgboost import XGBClassifier
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.model_selection import train_test_split, cross_validate, StratifiedKFold
Train_data_frame = pd.read_csv(r'stsa-train.txt',sep = 'delimiter=',header= None,names=['review'])
Test_data_frame = pd.read_csv(r'stsa-test.txt',sep = 'delimiter=',header= None,names=['review'])
Train_data_frame[['Sentiment','review']] = Train_data_frame["review"].str.split(" ", 1, expand=True)
Test_data_frame[['Sentiment','review']] = Test_data_frame["review"].str.split(" ", 1, expand=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

In [3]:
Train_data_frame.head()

                                              review Sentiment
0  a stirring , funny and finally transporting re...         1
1  apparently reassembled from the cutting-room f...         0
2  they presume their audience wo n't sit still f...         0
3  this is a visually stunning rumination on love...         1
4  jonathan parker 's bartleby should have been t...         1

In [4]:
Test_data_frame.head()

                                              review Sentiment
0     no movement , no yuks , not much of anything .         0
1  a gob of drivel so sickly sweet , even the eag...         0
2  gangs of new york is an unapologetic mess , wh...         0
3  we never really feel involved with the story ,...         0
4            this is one of polanski 's best films .         1

In [7]:
import nltk
import re
import string
nltk.download('stopwords')
nltk.download('wordnet')
s=nltk.corpus.stopwords.words('english')
from nltk.stem import WordNetLemmatizer
w= WordNetLemmatizer()

def clean_text(data):
  data="".join([word.lower() for word in data if word not in string.punctuation])
  data = re.sub("^\d+\s|\s\d+\s|\s\d+$", " ", data)
  tokens = re.split('\W+',data)
  data = [w.lemmatize(word) for word in tokens if word not in s]
  return data

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf_idf_vect = TfidfVectorizer(analyzer = clean_text)
x_tf_idf = tf_idf_vect.fit_transform(Train_data_frame['review'])
print(x_tf_idf.shape)

(6920, 13343)

In [12]:
x_tf_idf_df=pd.DataFrame(x_tfidf.toarray())
x_tf_idf_df.columns=tf_idf_vect.get_feature_names()
x_tf_idf_df.head()

             100minute  103minute  10course  ...  zoom  zwick  zzzzzzzzz  élan
0  0.000000        0.0        0.0       0.0  ...   0.0    0.0        0.0   0.0
1  0.048154        0.0        0.0       0.0  ...   0.0    0.0        0.0   0.0
2  0.029784        0.0        0.0       0.0  ...   0.0    0.0        0.0   0.0
3  0.049596        0.0        0.0       0.0  ...   0.0    0.0        0.0   0.0
4  0.048782        0.0        0.0       0.0  ...   0.0    0.0        0.0   0.0

[5 rows x 13343 columns]

In [13]:
x_Test_tf_idf = tfidf_vect.transform(Test_data_frame['review'])
print(x_Test_tf_idf.shape)

(1821, 13343)

In [14]:
m = MultinomialNB()
s = LinearSVC()
k = KNeighborsClassifier(n_neighbors=5,n_jobs=-1)
d = DecisionTreeClassifier()
r = RandomForestClassifier()
x = XGBClassifier()

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x_tf_idf_df, Train_data_frame['Sentiment'].values,
                                                test_size=0.2, random_state=42)

In [21]:
model_m = m.fit(x_train,y_train)

In [23]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
y_prediction_m= model_m.predict(x_test)
print('Accuracy %s' % accuracy_score(y_prediction_m,y_test))
print(classification_report(y_test,y_prediction_m))

Accuracy 0.7955202312138728
              precision    recall  f1-score   support

           0       0.85      0.70      0.77       671
           1       0.76      0.88      0.82       713

    accuracy                           0.80      1384
   macro avg       0.80      0.79      0.79      1384
weighted avg       0.80      0.80      0.79      1384

In [30]:
from sklearn.model_selection import cross_val_score
s = cross_val_score(m, x_test, y_test, cv=10)
print("using M",s.mean())

using M 0.7247054530288813

In [43]:
model_k_near_ = k.fit(x_train,y_train)
y_prediction_k_near = model_k_near_.predict(x_test)
print('Accuracy %s' % accuracy_score(y_prediction_k_near,y_test))
print(classification_report(y_test,y_prediction_knn))

Accuracy 0.7398843930635838
              precision    recall  f1-score   support

           0       0.74      0.70      0.72       671
           1       0.74      0.77      0.75       713

    accuracy                           0.74      1384
   macro avg       0.74      0.74      0.74      1384
weighted avg       0.74      0.74      0.74      1384

In [48]:
from sklearn.model_selection import cross_val_score
scores_ = cross_val_score(k, x_test, y_test, cv=10)
print("using knn",scores_.mean())

using knn 0.6675737670732979

In [47]:
model_ = d.fit(x_train,y_train)
y_prediction_data = model_.predict(x_test)
print('Accuracy %s' % accuracy_score(y_prediction_data,y_test))
print(classification_report(y_test,y_prediction_data))

Accuracy 0.6632947976878613
              precision    recall  f1-score   support

           0       0.66      0.63      0.64       671
           1       0.66      0.70      0.68       713

    accuracy                           0.66      1384
   macro avg       0.66      0.66      0.66      1384
weighted avg       0.66      0.66      0.66      1384

In [49]:
scores_ = cross_val_score(d, x_test, y_test, cv=10)
print("using decision trees",scores.mean())

using decision trees 0.6675737670732979

In [50]:
model_r = r.fit(x_train,y_train)
y_prediction_r = model_r.predict(x_test)
print('Accuracy %s' % accuracy_score(y_prediction_r,y_test))
print(classification_report(y_test,y_prediction_r))

Accuracy 0.740606936416185
              precision    recall  f1-score   support

           0       0.77      0.66      0.71       671
           1       0.72      0.81      0.76       713

    accuracy                           0.74      1384
   macro avg       0.74      0.74      0.74      1384
weighted avg       0.74      0.74      0.74      1384

In [51]:
scores_ = cross_val_score(r, x_test, y_test, cv=10)
print("using random forest",scores_.mean())

using random forest 0.6791627567511209

In [53]:
model_x = x.fit(x_train,y_train)
y_prediction_x = model_x.predict(x_test)
print('Accuracy %s' % accuracy_score(y_prediction_x,y_test))
print(classification_report(y_test,y_prediction_x))

Accuracy 0.6445086705202312
              precision    recall  f1-score   support

           0       0.75      0.40      0.52       671
           1       0.61      0.88      0.72       713

    accuracy                           0.64      1384
   macro avg       0.68      0.64      0.62      1384
weighted avg       0.68      0.64      0.62      1384

In [54]:
scores_ = cross_val_score(x, x_test, y_test, cv=10)
print("using xgb",scores_.mean())

using xgb 0.6184704410384736

In [56]:
test_predict_m= model_m.predict(x_Test_tf_idf)
print('Accuracy %s' % accuracy_score(test_predict_m,Test_data_frame['Sentiment']))
print(classification_report(test_predict_m,Test_data_frame['Sentiment']))

Accuracy 0.7946183415705657
              precision    recall  f1-score   support

           0       0.70      0.87      0.77       730
           1       0.89      0.75      0.81      1091

    accuracy                           0.79      1821
   macro avg       0.79      0.81      0.79      1821
weighted avg       0.81      0.79      0.80      1821